@font-face {
  font-family: "candy";
  src: url("/Candcu__.ttf") format("truetype");
}

body {
  font-size: 4em;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(to top, #93291e, #ed213a);
  color: white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Lobster", cursive;
}

.error {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 40rem;
  font-family: candy;
}

p {
  margin: 0px;
}

p span {
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  color: #ed213a;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}
